<h1>About Us</h1>
<center>
  <p><%= link_to "Uzo Ukeagu",   nikki_path  %></p>
  <p><%= link_to "Chris Haack",   chris_path  %></p>
  <p><%= link_to "Sean Reed",   nikki_path  %></p>
  <p><%= link_to "Nikki Thean",   nikki_path  %></p>
</center>
