<section>
	</a><h1>Echo (or how i am learning to code with team Kick-Ass in four months)</h1>
<section>

<section>
	<p>My name is Chris.</p>
	<p>My boyfriend's name is Ryan</p>
	<p>My rabbit's name is Jasper</p>
	<p>I like coffee, tea, music, books, and binge-watching good TV shows</p>
</section>

<section>
	<p>My favorite resource for learning code so far is <a href=https://www.codeschool.com/>Code School</a>.
	</p>
</section>
