
<header>
	</a><h1>Echo (or how i am learning to code with team Kick-Ass in four months)</h1>
</header>

<section class="bio">
	<h2>Bio</h2>
	<p>My name is Chris. My boyfriend's name is Ryan. My rabbit's name is Jasper</p>
	<img src="/assets/images.jasper.jpg" alt="This is a picture of the bun."
</section>

<section class="resources">
	<h2>Favorite Resources</h2>
	<p>My favorite resource for learning code so far is <a href=https://www.codeschool.com/>Code School</a>.
	</p>
</section>
<section class="favs">
	<h2>Favorite things</h2>
	<p>I like to drink coffee & tea, listen to music, read books, and binge-watch TV shows.</p>
</section>

<footer>
	<h2>Howdy, I am a footer</h2>
</footer>