
<header>
	</a><h1>Echo (or how i am learning to code with team Kick-Ass in four months)</h1>
</header>
<div id="wrapper">
<section class="bio">
	<h2>Bio</h2>
	<p>My name is Chris. My boyfriend's name is Ryan. My rabbit's name is Jasper</p>
	<%= image_tag("jasper.jpg", alt: "jasper!") %> 
</section>

<section class="resources">
	<h2>Favorite Resources</h2>
	<p>My favorite resource for learning code so far is <a href=https://www.codeschool.com/>Code School</a>.
	</p>
</section>
<section class="favs">
	<h2>Favorite things</h2>
	<p>I like to drink coffee & tea, listen to music, read books, and binge-watch TV shows.</p>
</section>
</div>
