<div class="center hero-unit">
  <h1>Team Kickass</h1> 
  <%= image_tag("kickass2.jpg", alt: "We want you to kick ass, too.") %>
  <p> </p>
  <%= link_to "Play Ruby Roulette", roulette_path, class: "btn btn-large btn-primary" %>
</div>