<div class="center hero-unit">
  <h1>Team Website</h1> 
  <p>This is our first assignment for the Flatiron School.</p>
  <%= link_to "Read about us!", about_path, class: "btn btn-large btn-primary" %>
</div>