<h1>Nikki Thean</h1>
<div id="wrapper">
  <div class="personal_image">
    <%= image_tag("nikki.jpg", alt: "Me!") %>
  </div>

  <div class="bio">
    <h2>Bio</h2>
    <p>I was born in Kuala Lumpur and now live in Manhattan, New York. I studied public policy and international affairs (and creative writing), then went on to work in pharmaceutical consulting, then at a literary agency, and then I ended up at the Flatiron School.</p>
  </div>

  <div class="resource_recommendations">
    <h2>Favorite Learning Resource</h2>
    <a href="http://ruby.railstutorial.org/">Michael Hartl's Rails Tutorial</a>
  </div>
</div>