<h1>Nikki Thean</h1>
<center><p><u>Likes:</u></p>
<p>Chocolate</p>
<p>Bunnies</p>
<p><u>Dislikes:</u></p>
<p>Being sad</p>
<p>Favorite Learning Resource:</p>
<a href="http://ruby.railstutorial.org/">Michael Hartl's Rails Tutorial</a>
<p>