<h1>Let's play Ruby Roulette!</h1>

<div id="wrapper">
  <div class="button">
    <button class="btn btn-large btn-primary">Click here to be enlightened.</button>
  </div>
  <div id="methods">
    <div class="method">
      <%= render 'roulette/include' %>
    </div>

    <div class="method">
      <%= render 'roulette/inject' %>
    </div>

    <div class="method">
      <%= render 'roulette/fetch' %>
    </div>

    <div class="method">
      <%= render 'roulette/invert' %>
    </div>
  </div>
</div>​

<script>
$(document).ready(function() {

  // $('#methods .method').hide();
  var methods = $('#methods .method');

  $('.button').click(function() {
    if (methods.is(":visible")) {
      methods.hide();
    }
    else {
      var rand = Math.floor(Math.random() * methods.length);
      methods.eq(rand).toggle();
    }
  });
})
</script>