<h1>Sean Reed</h1>
<div class="image">
  <img src="#" alternate="Sean's picture">
</div>
<div class="Bio">
  <h2>Bio</h2>
  <p>I am from Brooklyn originally. Now I live in Harlem with my wife and two twin boys.</p>
</div>
<div>
  <h2>Favorite Learning Resource</h2>
  <a href="http://ruby.railstutorial.org/">Michael Hartl's Rails Tutorial</a>
</div>