<h1>Sean Reed</h1>
<div>
	<div class="personal_image">
	    <%= image_tag("theboys.jpg", alt: "Aidan and Ian") %>
	</div>


	<section class="bio">
		<h2>Bio</h2>
		<p>My name is Sean. I am married with two boys, Aidan and Ian. We live in Harlem. I studied physics in undergrad and economics in grad school.</p>
		
	</section>

	<section class="resources">
		<h2>Favorite Resources</h2>
		<ul>
			<li>My favorite resource for learning code so far is <a href="https://www.codeacademy.com"/ alt="CodeAcademy">Code Academy</a> </li>
			<li>I also love <a href="http://RubyMonk.com" alt="RubyMonk">Rubymonk</a></li>
		</ul>
	</section>
	<section class="favs">
		<h2>Favorite things</h2>
		<ul>
			<li>I like to write science-themed stories for kids</li>
			<li> I like good movies (for a particular definition of good movies)</li> 
			<li>I like reading and have a decent collection of paperback award-winning science fiction written before ~1986. </li>

		</ul>
	</section>

</div>
<!-- <footer>
	<h2>Howdy, I am a footer</h2>
</footer> -->