<section>
  <h1>Welcome!</h1>
</section>

<section>
  <p>Hi! My name is Uzo.</p> 
  <p> ... and this is my first time working on a development/programming group project.  I suspect that this is going to be challenging but I am looking forward to learning through my frustrations and from my failures and successes.<p> 
</section>

<section>
  <p> Here are my current resources for learning Ruby:</p>
  <p><a href="http://www.amazon.com/Program-Second-Edition-Facets-Series/dp/1934356360">Chris Pine</a></p>
  <p><a href="http://www.codecademy.com/tracks/ruby"></a><p>
  <p> I also bookmarked:
    <p><a href="http://ruby-doc.org/core-2.0.0/">ruby doc pages</a> because having quick access to its libary is extremely useful 
    </p>
  </p>
</section>

<section>
  <p>Some of my favorite things to do in the city are:</p>
  <p> Catch a show at <a href="http://www.bam.org">Brooklyn Academy of Music</a></p>
  <p> Participate in food walk tours </p> 
  <p> Go running in <a href="http://www.examiner.com/article/springfield-parks-hosts-three-nights-of-free-concerts">my neighborhood park</a></p>
</section>
