<header>
  <h1>Working in groups and Getting comfortable with git!</h1>
</header>

<div id="wrapper">
<section class = "bio">
  <p>Hi! My name is Uzo.</p> 
    <p>... and this is my first time working on a development/programming group project.  I suspect that this is going to be challenging but I am looking forward to learning through my frustrations and from my failures and successes.
    </p> 
</section>


<section class = "resources">
  <ul> These are the current resources I use for learning Ruby:
    <li>
        <a href="http://www.amazon.com/Program-Second-Edition-Facets-Series/dp/1934356360">Chris Pine</a>
      </li>
      <li>
        <a href="http://www.codecademy.com/tracks/ruby"></a>
      </li>
    </ul>
</p>
<p> I also bookmarked: <br>
  <ul>
    <li>
      <a href="http://ruby-doc.org/core-2.0.0/">Ruby doc pages</a> because having quick access to its libary is extremely useful
    </li>
  </ul> 
</p>
</section>


<section class ="favs">
  <p>Some of my favorite things to do in the city are:<br>
    Catch a show at <a href="http://www.bam.org">Brooklyn Academy of Music</a><br>
    Participate in food walk tours <br> 
    Go running in <a href="http://www.examiner.com/article/springfield-parks-hosts-three-nights-of-free-concerts">my neighborhood park</a>
  </p>
</section>
</div>
