<SECTION>
  <h1>Welcome!</h1>
</SECTION>

<SECTION>
  <p>Hi! My name is Uzo</p>
</SECTION>

<SECTION>
  <p> ... and this is my first time working on a development/programming group project.  I suspect that this is going to be challenging but I am looking forward to learning through through my frustrations and from my failures, successes.<p> 

  <p> Here are my current resources for learning Ruby: 
  <a href="http://www.amazon.com/Program-Second-Edition-Facets-Series/dp/1934356360">Chris Pine</a>
  <a href="http://www.codecademy.com/tracks/ruby"></a>
  </p>
  <p> I also bookmarked <a href="http://ruby-doc.org/core-2.0.0/">ruby doc pages</a> because having quick access to its libary is extremely useful </p>
</SECTION>


