<div class = "adding">
  <h2>Adding</h2>
  <p>You create a new array by naming a variable and setting it equal to palin brackets. For example:<br> numbers = [].</p>

  <p>An easy way to add new data to the numbers array is by calling the push method on numbers. For example:<br> numbers.push(5),<br> which will return an numbers array populated by the number 5. This is what it looks like:<br> numbers.push(5)<br>
  numbers = [5] </p>
</div>