<div class="wrapper">
  <h1>empty</h1>
  <p>empty? → true or false</p>
  <p>Returns true if str has a length of zero.</p>
  <blockquote>
    "hello".empty?   #=> false<br><br>
    " ".empty?       #=> false<br><br>
    "".empty?        #=> true<br><br>
  </blockquote>
</div>