<h1>fetch</h1>

<div id="wrapper">

<p>Returns a value from the hash for the given key.</p>

<p>future_events = {</p>
	<p>"Aliens invade" => 2283</p>
	<p>"Human Resistance Defeats Aliens" => 2435</p>
	<p>"Humans invade alien civilization" => 2663</p>
	<p>}</p>

<p>future_events = {</p>
<p>"Aliens invade" => 2283</p>
<p>"Human Resistance Defeats Aliens" => 2435</p>
<p>"Humans invade alien civilization" => 2663</p>
<p>}</p>

<p>future_events.fetch("Aliens invade")
<p>=></p>
<p>2283<p>

</div>
