<div class = "flatten">
  <h1>Flatten</h1>
  <p>
    Most of the time, you will be working with arrays of database objects. Calling a flatten method on an array or a hash will return a new array that is a one-dimensional flattening of the original array or hash; that is, for every element that is an array, extract its elements into the new array.<br>
    Using the school hash below as an example:<br>
    school = {<br> 
  :name => "Happy Funtime School",<br>
  :location => "NYC",<br>
  :instructors => [<br>
    {:name=>"Blake", :subject=>"being awesome" },<br>
    {:name=>"Ashley", :subject=>"being better than blake"},<br>
    {:name=>"Jeff", :subject=>"karaoke"}<br>
  ],<br>
  :students => [<br>
    {:name => "Marissa", :grade => "B"},<br>
    {:name=>"Billy", :grade => "F"},<br>
    {:name => "Frank", :grade => "A"},<br>
    {:name => "Sophie", :grade => "C"}<br>
  ]<br>
  }<br>
    <p> calling the flatten method on the school hash results in:</p>

    school.flatten  = [<br>
    :name,<br>
    "Happy Funtime School",<br>
    :location,<br>
    "NYC".<br>
    :instructors,<br>
    [<br>
    {:name => "Blake", :subject=>"being awesome"},<br>
    {:name=>"Ashley", :subject=>"being better than Blake"},<br>
    {:name=>"Jeff", :subject=>"Karaoke"}<br>
    ],<br>
    :students,<br>
    [{:name=>"Marissa", :grade=>"B"},<br>
     {:name=>"Billy", :grade=>"F"},<br>
     {:name=>"Frank", :grade=>"A"},<br>
     {:name=>"Sophie", :grade=>"C"}<br>
    ]<br>

    <p> Notice that the outter 1st outter hash is turned into an array therefore turning the school hash into an array</p>
  </p>

</div>