<h1>include</h1>

<div id="wrapper">
  <p>Array#include returns a true/false value. It can be called on an array (or any collection), and it takes a single argument. Include returns true if the collection contains the value you passed in as an argument.</p>

  <p>How about an example?</p>

  <blockquote>best_teammates = ["Uzo", "Sean", "Nikki"]</blockquote>

  <p><%= link_to "Chris", chris_path %> has made an array, best_teammates, in which he lists -- you guessed it -- his favorite team members.</p>

  <p>Nikki has access to this array, and she would like to ask it a question:</p>

  <p><i>Am I on Chris's list of favorite teammates?</p></i>

  <p>Here's how she would do that:</p>

  <blockquote>
    best_teammates.include?("Nikki")<br>
    => true
  </blockquote>

  <p>What a relief.</p>

  <p>Now you know how to ask a collection object in Ruby whether it contains a particular element.</p>
</div>