<h1>index</h1>

<p>index(substring [, offset]) returns Integer or nil.</p>

<p>Returns the index of the first occurrence of the given substring or pattern in str. </p>
<p>Returns nil if not found. </p>
<p>If the optional parameter [, offset] is present, it specifies the position in the string to begin the search.</p>

<p>Examples:</p>

<blockquote>
  "hello".index('e')             #=> 1<br>
  "hello".index('lo')            #=> 3<br>
  "hello".index('a')             #=> nil<br>
  "hello".index(/[aeiou]/, -3)   #=> 4<br>
</blockquote>