<h1>invert</h1>

<div id="wrapper">

<p>Returns a new hash created by using the hash's values as keys, and the 
keys as values.</p>

<p>future_events = {</p>
	<p>"Aliens invade" => 2283</p>
	<p>"Human Resistance Defeats Aliens" => 2435</p>
	<p>"Humans invade alien civilization" => 2663</p>
	<p>}</p>

<p>future_events.invert</p>

<p>=></p>

<p>future_events = {</p>
	<p>2283 => "Aliens invade"</p>
	<p>2435 => "Human resistance defeats aliens"</p>
	<p>2663 => "Humans invade alien clivilization.</p>
<p>}</p>

</div>
