<div class="wrapper">
  <h1>ruby koans</h1>

  <p>Lack of ruby knowlege has damaged your karma.</p>

  <p>You have not yet reached enlightenment ...<p>

  <p>Please meditate on the following resource:</p>
  <a href="http://rubykoans.com">Ruby Koans</a>
</div>