<h1>why's poignant guide to ruby</h1>

<div class="wrapper">
  <%= image_tag("poignantguide.jpg", alt: "This baby knows more Ruby than you!") %>

  <center><p>learn more <a href="http://mislav.uniqpath.com/poignant-guide/">here!</a></p></center>
</div>